<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{{url_for('static', filename='bulma/bulma.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/courses.css')}}">
</head>

<body>
    <div class="title"><br>
        <center>STUDENT INFORMATION SYSTEM</center>
    </div>

    
        <div class="title2"></div><br>
        <button class="title3">STUDENT</button><br>
        <button class="title4">COURSES</button><br>
        <button class="title5">GRADES</button><br>
        <button class="title6">REPORTS</button>
   

 <div class="back">
   
 </div>

 <div class="border">
    <CENTER>COURSES
    </CENTER><br>
    <button class="button">Add Courses</button>
 </div>
 <div class="column">
     
    <table class="table is-bordered">
        <thead>
            <tr>
                <th>COURSE ID</th>
                <th>COURSE CODE</th>
                <th>COURSE NAME</th>
                <th>ACTION</th>
              
            </tr>
        </thead>
        <tbody>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th><center><button class="button">Edit</button>      <button class="button">Delete</button></center></th>
              
            </tr>

            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th><center><button class="button">Edit</button>     <button class="button">Delete</button></center></th>
               
            </tr>

            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th><center><button class="button">Edit</button>     <button class="button">Delete</button></center></th>
               
            </tr>

            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th><center><button class="button">Edit</button>        <button class="button">Delete</button></center></th>
               
            </tr>

            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th><center><button class="button">Edit</button>        <button class="button">Delete</button></center></th>
                
            </tr>

            

        </tbody>
    </table>
</div>
</div>
</div>
</section>

</body>
</html>