<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{{url_for('static', filename='bulma/bulma.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/grades.css')}}">
</head>

<body>
    <div class="title"><br>
        <center>STUDENT INFORMATION SYSTEM</center>
    </div>

    
    <div class="title2"></div><br>
    <button class="title3">STUDENT</button><br>
    <button class="title4">COURSES</button><br>
    <button class="title5">GRADES</button><br>
    <button class="title6">REPORTS</button>

 <div class="back">
   
 </div>

 <div class="border">
    <CENTER>GRADES
    </CENTER><br>
   <select class="select" name="Student" id="Student">                          
        <option value="Student List">Student List</option>
        <option value="CARL">Carl Lester Barreras</option>
        <option value="MARY">Mary Stiphen Artienda</option>
        <option value="RONALD">Ronald Brigola</option>
        <option value="MARK">Mark Francis Bueno</option>
        <option value="FROI">Froiland ChanBee</option>
   </select>

   <select class="select2" name="Semester" id="Semester">
    <option value="Semester List">Semester</option>
    <option value="1st">First Semester</option>
    <option value="2nd">Second Semester</option>
</select>
 
<select class="select3" name="Year" id="Year">
    <option value="SY">School Year</option>
    <option value="2020">2020-2021</option>
    <option value="2021">2021-2022</option>
    <option value="2022">2022-2023</option>
    <option value="2023">2023-2024</option>
</select>

<button class="button">SUBMIT</button>

 <div class="column">
     
    <table class="table is-bordered">
        <thead>
            <tr>
                <th>SUBJECT CODE</th>
                <th>SUBJECT</th>
                <th>TEACHERS</th>
                <th>MIDTERM</th>
                <th>FINAL</th>
                <th>RESULT</th>
              
            </tr>
        </thead>
        <tbody>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              
            </tr>

            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                
               
            </tr>

            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                
                <th></th>
               
            </tr>

            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                
               
            </tr>

            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                
                
            </tr>

            

        </tbody>
    </table>
</div>
</div>
</div>
</section>

</body>
</html>