<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>

    

    <link rel="stylesheet" href="{{url_for('static', filename='bulma/bulma.css')}}" > 

    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}" >
  
</head>
<body>
    
 <br>
 <br>
<center>
<from class="box">
    <br>
    <br>
    <br>
    <br>
    
    <center><div class="title">LOGIN</div></center>
    <div class="field">
        <label class="label">USERNAME</label>

<form action="check-user" method="POST">

        
        <div class="control">
            <input class="input" name="username" type="username" placeholder="e.g. carl@example.com"/>
                    </div>
    </div>

    <div class="field">
        <label class="label">PASSWORD</label>
        <div class="control">
            <input class="input" name="password" type="password" placeholder="************"/>
                    </div>
    </div>
    <center>
        <button class="button" type="submit">LOGIN</button>
</center>
</form>
</from>
</center>

<div class="back">
    
</div>

   
</body>
</html>