<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{{url_for('static', filename='bulma/bulma.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/student.css')}}">
</head>

<body>
    <div class="title"><br>
        <center>STUDENT INFORMATION SYSTEM</center>
    </div>

    
        <div class="title2"></div><br>
        <button class="title3">STUDENT</button><br>
        <button class="title4">COURSES</button><br>
        <button class="title5">GRADES</button><br>
        <button class="title6">REPORTS</button>
   

 <div class="back">
    <br><br><br><br><center>    </center>
 </div>

 <div class="border">
    <CENTER>STUDENT LIST</CENTER>
 </div>
 <div class="column">
     
    <table class="table is-bordered">
        <thead>
            <tr>
                <th>StudentID</th>
                <th>LName</th>
                <th>FName</th>
                <th>Mname</th>
                <th>Sex</th>
                <th>Birthday</th>
                <th>Address</th>
                <th>Course ID</th>
                <th>Action</th>
            </tr>
        </thead>
        
        {% for student in students %}
        <tr>
            <td> {{ student[0] }}</td>
            <td> {{ student[1] }}</td>
            <td> {{ student[2] }}</td>
            <td> {{ student[3] }}</td>
            <td> {{ student[4] }}</td>
            <td> {{ student[5] }}</td>
            <td> {{ student[6] }}</td>
            <td> {{ student[7] }}</td>
            <td><center><button class="button">Edit</button>      <button class="button">Delete</button></center></td>
            
        </tr>
        {% endfor %}
    </table>
</div>
</div>
</div>
</section>

</body>
</html>