<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{{url_for('static', filename='bulma/bulma.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/student.css')}}">
</head>

<body>
    <div class="title"><br>
        <center>STUDENT INFORMATION SYSTEM</center>
    </div>

    
        <div class="title2"></div><br>
        <button class="title3">STUDENT</button><br>
        <button class="title4">COURSES</button><br>
        <button class="title5">GRADES</button><br>
        <button class="title6">REPORTS</button>
   

 <div class="back">
    <br><br><br><br><center>Student List</center>
 </div>

 <div class="border">
    <CENTER>STUDENT LIST</CENTER>
 </div>
 <div class="column">
     
    <table class="table is-bordered">
        <thead>
            <tr>
                <th>STUDENT ID</th>
                <th>NAME</th>
                <th>SEX</th>
                <th>ADDRESS</th>
                <th>COURSE</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>

            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>

            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>

            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>

            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>

            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>

        </tbody>
    </table>
</div>
</div>
</div>
</section>

</body>
</html>